@using System.Reflection
@using System.Runtime.Versioning

@inject IMessageService MessageService

@inherits LayoutComponentBase

<FluentLayout>
    <FluentHeader Style="background-color: var(--neutral-layer-4)">
        <div style="padding-right:10px">
            <a href="@githubProfile">
                <img role="button" src="@githubProfilePic" class="face" href="@githubProfile" title="@githubProfile" />
            </a>
        </div>
        <FluentLabel Typo="Typography.H6">Justin Ridings</FluentLabel>
        <FluentSpacer />
        <FluentSwitch ValueChanged="ChangeDesignTheme" Label="@Mode.ToString()" Style="padding-right:10px" />
        <NotificationCenter />
    </FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <NavMenu />
        <FluentBodyContent>
            <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center" Class="content">
                @Body
            </FluentStack>
        </FluentBodyContent>
    </FluentStack>
    <FluentFooter Style="background-color: var(--neutral-layer-4); justify-content:center;">
        <FluentStack HorizontalAlignment="HorizontalAlignment.Center">
            <FluentLabel Typo="Typography.H6">Powered by @GetFrameworkVersion() |</FluentLabel>
            <a href="https://discordapp.com/users/448647845520867347">
                <img height="20" width="20"
                     src="https://assets-global.website-files.com/6257adef93867e50d84d30e2/636e0a69f118df70ad7828d4_icon_clyde_blurple_RGB.svg" />
            </a>
            <a href="https://www.linkedin.com/in/justinblakeridings/">
                <img height="20" width="60"
                     src="https://content.linkedin.com/content/dam/me/brand/en-us/brand-home/illustrations/dsk-e6.svg.original.svg" />
            </a>
            <a href="https://www.youtube.com/watch?v=J7mCQC4e3eA">
                <img height="20" width="30"
                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/YouTube_full-color_icon_%282017%29.svg/1280px-YouTube_full-color_icon_%282017%29.svg.png" />
            </a>
            <a href="https://www.nuget.org/profiles/JustinRidings">
                <img height="20" width="20"
                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/NuGet_project_logo.svg/512px-NuGet_project_logo.svg.png?20200213201929" />
            </a>
        </FluentStack>
    </FluentFooter>
    <FluentDialogProvider @rendermode="@RenderMode.InteractiveWebAssembly" />
    <FluentDesignTheme @bind-Mode=Mode StorageName="theme" />
</FluentLayout>

@code {

    public DesignThemeModes Mode { get; set; }

    readonly string githubProfile = @"http://github.com/JustinRidings";
    readonly string githubProfilePic = @"https://avatars.githubusercontent.com/u/49916830";

    // protected override void OnAfterRender(bool firstRender)
    // {
    //     if (firstRender)
    //     {
    //         MessageService.ShowMessageBar(options =>
    //                 {
    //                     options.Intent = MessageIntent.Info;
    //                     options.Title = $"Example";
    //                     options.Body = "This is an example notification!";
    //                     options.Timestamp = DateTime.Now;
    //                     options.Section = "MESSAGE_CENTER";
    //                 });
    //     }
    // }

    public static string GetFrameworkVersion()
    {
        var tfAttribute = Assembly.GetExecutingAssembly().GetCustomAttribute<TargetFrameworkAttribute>();

        return tfAttribute?.FrameworkDisplayName ?? "Blazor WASM";
    }

    public void ChangeDesignTheme(bool isLightMode)
    {
        if (isLightMode == true)
        {
            Mode = DesignThemeModes.Light;
            return;
        }
        else
        {
            Mode = DesignThemeModes.Dark;
            return;
        }
    }
}